
.nav_tabs{
    position: relative;
    margin: auto;
}
.tab_label{
    display: block;
    height: 80px;
    line-height: 40px;
}
.nav_tabs label{
    display: block;
    width: 100px;
    padding: 25px;
    cursor: pointer;
    text-align: center;
}
.nav_tabs ul li{
    float: left;
}



.rd_tabs:checked ~ label{
    transition: 0.2s;
    border-bottom: 2px var(--main-color) solid;
}
.rd_tabs{
    display:none;
}

.content{
    position: absolute;
    display: none;
}
.rd_tabs:checked ~ .content {
    display: block;
}
