.navgation{
    text-decoration: none;
    color: white;
    font-weight: 800;
    margin-bottom: 100px;
}
.navgation.register{
    color: var(--not-selected);
    margin: 0px 40px;
}

.navgation.login{
    padding-bottom: 20px;
    border-bottom: 3px solid var(--main-color);
}
